.li {
  display: flex;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: gainsboro;
  padding: 0 13px;
  align-items: center;
  height: 80px;
}
.locationIcon {
  font-size: 20px;
}
.textArea {
  flex-grow: 1;
  padding: 0 15px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address {
  font-size: 14px;
}