a {
  text-decoration: none;
  color: black;
}
a:hover, a:focus, a:active {
  color: inherit;
}
input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	border: none;
	padding: 0;
}
.full-screen-white {
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  overflow-y: scroll;
  padding: 0;
}
.body-without-topnavbar {
  height: calc(100% - 50px);
  overflow-y: scroll;
  margin-left: 15px;
  margin-right: 15px;
}
.topnavbar-header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}