a {
  text-decoration: none;
  color: black;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	border: none;
	padding: 0;
}
.full-screen-white {
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  overflow-y: scroll;
  padding: 0;
}
.topnavbar-header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}