.container {
  position: relative;
  height: 100%;
  margin: 30px 20px;
}
.inputWrap {
  margin: 0 0 10px 0;
}
.propContainer {
  margin: 0 !important;
}
.inputDanger {
  border-color: #dc3545 !important;
}
.span {
  font-size: 14px;
}
.spanHidden {
  visibility: hidden;
}