.nav {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    border-style: solid;
    border-width: 1px 0 0;
    border-color: gainsboro;
}
.link {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
}
.link:focus {
    color: gray;
}
.nav span {
    font-size: 13px;
}
.mapIcon {
    font-size: 30px;
}
.mapSpan {
    position: relative;
    top: 4px;
}
.locationIcon {
    font-size: 26px;
}
.listIcon {
    font-size: 36px;
}
.listSpan {
    position: relative;
    bottom: 7px;
}