.header {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.body h6 {
  color: gray;
}
.linkInput {
  margin: 0 0 15px 0 !important;
}
.ul {
  padding: 0;
  list-style: none;
}