/* TopNavbar */
.header {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 25px;
  color: #198754;
}
.ul {
  list-style: none;
  padding: 0;
}